.button-2,
.button-3,
.button-4,
.button-5,
.button-6,
.button-7,
.button-8,
.button-9,
.button-10 {
  display: none !important;
}
._brlbs-bar-wrap,
.BorlabsCookieBox,
#BorlabsCookieBox ._brlbs-block-content._brlbs-bg-dark {
  display: none !important;
}

.box_shadow:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
}

.fusion-fullwidth,
.fullwidth-box,
.fusion-builder-row-1,
.fusion-flex-container,
.has-pattern-background,
.has-mask-background,
.hundred-percent-fullwidth,
.non-hundred-percent-height-scrolling,
.fusion-sticky-container,
.fusion-custom-z-index,
.fusion-sticky-transition,
.fusion-container-stuck {
  width: 100% !important;
}

.fusion-form-image-select,
.image-select-noch_nicht2 {
  width: 155px !important;
  height: 155px !important;
}

.fusion-form-form-wrapper
  .fusion-form-field.fusion-form-label-above
  label
  span {
  bottom: -120px !important;
}

.fusion-form-field
  .fusion-form-image-select-field
  .fusion-form-label-above
  .fusion-form-field-fusion-form-image-select-9
  .option-inline {
  --awb-height: 155px !important;
  --awb-width: 155px !important;
}

.fusion-form-label-wrapper fieldset {
  text-align: start !important;
}

.fusion-form-form-wrapper
  .fusion-form-field
  .fusion-form-image-select
  label
  .fusion-form-image-wrapper {
  width: 155px !important;
  height: 155px !important;
}

.fusion-form-form-wrapper
  .fusion-form-field
  .fusion-form-image-select
  label
  .fusion-form-image-wrapper {
  margin-top: -20px;
}
@media screen and (min-width: 440px) {
  .fusion-form-form-wrapper
    .fusion-form-field
    .fusion-form-image-select
    label
    .fusion-form-image-wrapper {
    width: 180px !important;
    height: 180px !important;
  }

  .fusion-form-field
    .fusion-form-image-select-field
    .fusion-form-label-above
    .fusion-form-field-fusion-form-image-select-9
    .option-inline {
    --awb-height: 180px !important;
    --awb-width: 180px !important;
  }
  .fusion-form-image-select,
  .image-select-noch_nicht2 {
    width: 180px !important;
    height: 180px !important;
  }
  .fusion-form-form-wrapper
    .fusion-form-field.fusion-form-label-above
    label
    span {
    bottom: -150px !important;
  }
}

@media screen and (min-width: 600px) {
  .fusion-form-form-wrapper
    .fusion-form-field
    .fusion-form-image-select
    label
    .fusion-form-image-wrapper {
    width: 215px !important;
    height: 215px !important;
  }

  .fusion-form-field
    .fusion-form-image-select-field
    .fusion-form-label-above
    .fusion-form-field-fusion-form-image-select-9
    .option-inline {
    --awb-height: 215px !important;
    --awb-width: 215px !important;
  }
  .fusion-form-image-select,
  .image-select-noch_nicht2 {
    width: 215px !important;
    height: 215px !important;
  }
  .fusion-form-form-wrapper
    .fusion-form-field.fusion-form-label-above
    label
    span {
    bottom: -180px !important;
  }
}
